jf.soupclown.com {
  reverse_proxy qmoran-desktop-1.tailc7e587.ts.net:8096
}

nd.soupclown.com {
  reverse_proxy qmoran-desktop-1.tailc7e587.ts.net:4533
}

seerr.soupclown.com {
  reverse_proxy qmoran-desktop-1.tailc7e587.ts.net:5055
}

git.soupclown.com {
  reverse_proxy qmoran-desktop-1.tailc7e587.ts.net:4628
}

git.soupclown.com:8269 {
  reverse_proxy qmoran-desktop-1.tailc7e587.ts.net:8269
}

soupclown.com {
  reverse_proxy qmoran-desktop-1.tailc7e587.ts.net:8075
}
