---
layout: default
header: Welcome to SoupClown!
---
<div>
  You've stumbled across SoupClown! There's not much soup here but everything is a joke so I think we're all clowns here 🤷‍♀️
</div>
<div>
  {% include services.html %}
  <h3>
    Disclaimers:
  </h3>
  <ul>
    <li>
      This site is <b>SFW</b>. But it's only intended for <u><b>ADULTS</b></u>. DNI and leave if you are under 18!
    </li>
    <li>
      This site only uses HTML and CSS to operate
    </li>
    <li>
      This website will never autoplay any audio
    </li>
  </ul>
  {% include blinkies.html%}
</div>