
[accounts]
  qmoran: lightertime

[global]
  e2dsa  # enable file indexing and filesystem scanning
  e2ts   # and enable multimedia indexing
  ansi   # and colors in log messages
  p: 3923

[/]            # create a volume at "/" (the webroot), which will
  {{ copyparty_data_dir }}         # share the contents of the "/mnt" folder
  accs:
    rwmda: qmoran 

[/drv1]            # create a volume at "/" (the webroot), which will
  /mnt/drv1/Share
  accs:
    r: *
    rwmda: qmoran 