<div>
  <h3>Soupclown Services</h3>
  <ul>
    <li>
      <a href="https://jf.soupclown.com">Jellyfin</a>
      Media Server with tons of Movies and TV
    </li>
    <li>
      <a href="https://seerr.soupclown.com">Seerr</a>
      TV and Movie request platform for requesting new media for Jellyfin
    </li>
    <li>
      <a href="https://nd.soupclown.com">Navidrome</a>
      Music streaming server, compatible with many third party streaming apps
    </li>
    <li>
      <a href="https://cloud.soupclown.com">Nextcloud</a>
      Cloud storage for files, photos and helpful tooling!
    </li>
  </ul>
</div>