<div>
	<h3>Soupclown Services</h3>
	
	<span>
		These links navigate to other services hosted by the Soupclown team! (it's one clown locked in a dark room)
	</span>
	<br>

	<span>
		All of these services have a shared account, if you'd like the account login information please contact <a href="mailto:quin@soupclown.com?subject=Soupclown: shared account request" target="_blank">quin@soupclown.com</a>. A custom account is available per request also, if one prefers to keep watch history personal. 
	</span>
	<br>
	<br>

	<ul>
		<li>
			<a href="https://jf.soupclown.com" target="_blank">Jellyfin</a>
			Media Server with tons of Movies and TV
		</li>
		<li>
			<a href="https://seerr.soupclown.com" target="_blank">Seerr</a>
			TV and Movie request platform for requesting new media for Jellyfin
		</li>
		<li>
			<a href="https://nd.soupclown.com" target="_blank">Navidrome</a>
			Music streaming server, compatible with many third party streaming apps
		</li>
	</ul>
</div>
