---
---

@use './layout';

$tablet-width: 768px;
$desktop-width: 1024px;

:root {
	--bg: color(display-p3 0.784 0.768 0.917);
	--fg: color(display-p3 0.413 0.281 0.341);
	--bg-alt: var(--fg);
	--fg-alt: var(--bg);
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@include desktop() {
	.content,
	.post {
		margin: auto 12rem;
	}
}
