---
---

@use './layout';

$phone-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;

:root {
	--bg: color(display-p3 0.784 0.768 0.917);
	--fg: color(display-p3 0.413 0.281 0.341);
	--bg-alt: var(--fg);
	--fg-alt: var(--bg);
}
@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@include desktop() {
	.content {
		margin: auto 12rem;
		background-color: rgba($color: #ffffff, $alpha: 0.7);
	}
}

@include tablet(){
	.content {
		background-color: rgba($color: #ffffff, $alpha: 0.7);
	}
}

@include phone(){
	.content {
		background-color: rgba($color: #ffffff, $alpha: 1);
		font-size: 2rem;
	}
}

.content {
	transition-duration: 1s;
	transition-property: all;
}