services:
  vpn:
    container_name: vpn
    image: qmcgaw/gluetun:v3.40
    cap_add:
      - NET_ADMIN # Quin does not like these
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /etc/vpn:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - SERVER_REGIONS=Netherlands
      - OPENVPN_USER=${PIA_USERNAME}
      - OPENVPN_PASSWORD=${PIA_PASSWORD}
      - UPDATER_PERIOD=24h
    ports:
      # Transmission
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
      # Prowlarr
      - 9696:9696
      # Radarr
      - 7878:7878
      # Sonarr
      - 8989:8989
      # Lidarr
      - 8686:8686

    restart: unless-stopped

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    network_mode: "service:vpn"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - /etc/transmission:/config
      - /mnt/mount/transmissionDownloads:/downloads
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    network_mode: "service:vpn"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/prowlarr:/config
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - /etc/jellyfin:/config
      - /etc/jellyfin/cache:/cache
      - type: bind
        source: /mnt/mount/jellyfinMedia
        target: /media
    restart: 'unless-stopped'

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    network_mode: "service:vpn"
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/radarr:/config
      - /mnt/mount/movies:/Movies #optional
      - /mnt/mount/transmissionDownloads:/downloads #optional
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
      prowlarr:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    network_mode: "service:vpn"
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/sonarr:/config
      - /mnt/mount/Shows:/tv #optional
      - /mnt/mount/:/downloads #optional
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
      prowlarr:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    network_mode: "service:vpn"
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/lidarr:/config
      - /mnt/mount/Music:/music #optional
      - /mnt/mount/transmissionDownloads:/downloads #optional
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
      prowlarr:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped