services:
  vpn:
    container_name: vpn
    image: qmcgaw/gluetun:latest
    cap_add:
      - NET_ADMIN # Quin does not like these
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /etc/vpn:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - SERVER_REGIONS=Netherlands
      - OPENVPN_USER=${PIA_USERNAME}
      - OPENVPN_PASSWORD=${PIA_PASSWORD}
      - UPDATER_PERIOD=24h
    ports:
      # Transmission
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
      # Prowlarr
      - 9696:9696
    restart: unless-stopped

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    network_mode: "service:vpn"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - /etc/transmission:/config
      - /mnt/mount/transmissionDownloads:/downloads
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    network_mode: "service:vpn"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/prowlarr:/config
    depends_on:
      vpn:
        condition: service_started
        restart: true
        required: true
    restart: unless-stopped
